html, body, #root {
  margin: 0;
  height: 100%;
}

body, h1, h2, h3 {
  font-weight: 300
}

a {
  color: #03a9f4;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.main-content {
  padding-bottom: 30px;
}

.pointer-disabled {
  pointer-events: none;
}

.accessibility {
  h4 { font-weight: bold; }
  p { text-align: justify; }
}

.tooltip-inner {
  background-color: #ff2982;
  color: #fff;
}

.tooltip.top .tooltip-arrow {
  border-top-color:#ff2982;
}

@import 'bootstrap/grid';
@import 'bootstrap/override';

@import 'components/rms-select';
@import 'components/med-icon';
@import 'components/med';
@import 'components/med-comments';
@import 'components/hamburger-button';
@import 'components/header';
@import 'components/footer';
@import 'components/loginform';
@import 'components/sidebar';
@import 'components/history';
@import 'components/searchform';
@import 'components/registerform';
@import 'components/walkthrough';
@import 'components/search-checkboxes';
@import 'components/starRating';
@import 'components/breadcrumbs';

@import 'components/hero';
