.events {
  min-height: calc(100vh - 294px);

  @media (max-width: 768px) {
    min-height: calc(100vh - 437px);
  }

  .breadcrumb {
    color: $color-cerulean;
    span {
      &:before {
        content: '/'
      }
    }
  }
}

.events-item {
  text-align: center;
  font-size: 85%;
  margin-bottom: 30px;

  >.title {
    margin: 25px 0;
  }

  >.list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
