footer {
  margin-top: 60px;
  background-color: $color-cape-cod;
  color: $color-iron;
  font-size: .9em;
  padding: 28px 0;

  .address {
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
  }
}
