.gallery-element {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;

  >.image {
    width: 100%;
  }

  >.description {
    background-color: rgba(0,0,0, .6);
    position: absolute;
    bottom: -85px;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 5px;
    transition: all .3s ease;
  }

  &:hover {
    >.description {
      bottom: 15px;
    }
  }
}