.med-comments {
  &--stream {
    border-top: 1px solid $brand-primary;
    border-bottom: 1px solid $brand-primary;
    margin: 40px 0;
  }

  &--entity {
    padding-left: 60px;
    position: relative;

    &:before {
      font-family: 'FontAwesome';
      content: '\f075';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 15px;
    }
  }

  &--submitted {
    p:first-child {
      color: $brand-primary;

      @media screen and (min-width: $screen-sm-max) {
        float: right;
      }
    }
    opacity: 0.6;
    margin-bottom: 35px;
  }

  &--form {
    textarea {
      border: 2px solid $color-silver-chalice;
      border-radius: 8px;
    }

    .btn-primary {
      margin-top: 30px;
      width: 200px;
    }

    .required-symbol { display: none; }
  }

  &--stream,
  &--form {
    padding: 15px 0 15px 30px
  }
}
