.med {
  display: block;
  margin: 0 auto 30px;
  max-width: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid $color-alto;
  background-color: $color-white;

  a {
    display: block;
    padding: 10px {
      // This is a must because title and icon are floating
      bottom: 69px;
    }

    &:hover span {
      opacity: .8;
      transition: opacity .3s ease;
    }
  }

  &-img {
    img {
      display: block;
      width: 100%;
    }

    &.new-ribbon {
      overflow: hidden;
      position: relative;

      &:after {
        background-color: $color-royal-blue;
        color: $color-white;
        content: 'nuevo';
        font-weight: bold;
        position: absolute;
        right: -30px;
        text-align: center;
        top: 10px;
        transform: rotate(45deg);
        width: 100px;
      }
    }
  }

  &-type,
  &-title,
  &-type-txt {
    float: left;
  }

  &-type {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: relative;
    margin-top: 10px;
  }

  &-type-txt {
    color: $brand-primary;
    font-size: 1.3em;
    padding: 20px 0px 20px 10px;
    float: left;
  }

  &-title {
    $font-size: 16px;
    $line-height: 1.4;
    $lines-to-show: 2;

    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    max-width: 83%;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    margin: 10px auto 15px 6px;
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-dove-gray;
    @-moz-document url-prefix() {
      white-space: nowrap;
      display: inline-block;
      text-overflow: ellipsis;
    }
  }

  &-keyword {
    display: inline-block;
    padding: 1px 10px;
    border-radius: 20px;
    margin: 8px 5px 8px 0;
    border: 2px solid $brand-primary;
    color: $color-dove-gray;
    &:hover {
      background-color: $brand-primary;
      color: $color-white;
      text-decoration: none;
    }
  }

  &-curricula--item{
    padding: 20px 0 40px;
    border-bottom: 1px solid $color-black;
  }

  // Styles for the med detail (individual) view
  &-detail {
    padding: 20px 0;

    h1 {
      font-size: 26px;
      font-weight: normal;
      margin-bottom: 30px;
    }

    .btn-success {
      box-shadow: 0 2px 11px rgba(0,0,0,.5);
      text-shadow: 0 2px 5px rgba(0,0,0,.5);
      font-size: 24px;
      padding: 15px 0;
    }

    .tab-content {
      padding: 10px 20px 40px 20px;
    }

    .thumb {
      &-desc {
        height: 46px;
        background-color: $brand-secondary;
        color: $color-white;
        margin-bottom: 30px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;

        span {
          float: left;
        }

        .med-icon {
          transform: scale(.5);
          margin-left: 5px;

          &_txt {
            margin-top: 13px;
          }
        }

        &:after {
          content:"";
          display:block;
          clear:both;
        }
      }
    }
  }

  &-group {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid $color-silver-chalice;
    &--title {
      display: inline-block;
      background: $brand-primary;
      color: white;
      width: 100%;
      padding: 15px 20px;

      .med-icon{
        margin: -19px 0;
        transform: scale(0.6);

        &--txt {
        }
      }
    }
  }

  &-social_share--icon {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
  }

  &-fav--icon {
    background-image: url('app/img/btn-favorites.png');
    background-position: top center;
    cursor: pointer;
    display: inline-block;
    height: 31px;
    width: 31px;

    &.not-fav {
      background-position: bottom center;
    }

    &:hover {
      background-position: top center;
    }
  }

  .dv-star-rating {
    clear: both;
    width: calc(100% - 20px);
    font-size: 2em;
    margin: {
      bottom: 10px;
      left: 10px;
    }
    padding-top: 5px;
    border-top: 2px solid $color-alto;

    &-star {
      width: 20%;
      text-align: center;
    }
  }
}
