.rms {
  &-wrapper {
    display: block;
    position: relative;
    margin: 15px 0;
    &:before {
      font-family: 'FontAwesome';
      font-size: 35px;
      content: '\f107';
      position: absolute;
      right: 9px;
      top: -5px;
      color: $color-mercury;
    }
  }

  &-label {
    display: none;
  }

  &-text {
    position: relative;
    font-size: 16px;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 2px solid $color-mercury;

    span {
      border: none;
      display: block;
      font-size: 14px;
      font-style: italic;
      padding: 8px 10px;
      margin: 0;
      width: 100%;
      background: none;
      text-align: left;
      color: inherit;
    }

    &__empty {
      span {
        font-weight: 100;
      }

      + label {
        display: none;
      }
    }
  }

  &-caret {
    position: absolute;
    text-indent: -9999px;
  }

  &-list {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    position: absolute;
    -webkit-transition: .25s ease;
    transition: .25s ease;
    top: 0;
    left: 0;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: $color-white;
    box-shadow: 0 3px 10px $color-silver-chalice;
    z-index: 1000;
    max-height: 50vh;
    overflow: scroll;

    .rms-item {
      padding: 0 8px;
      line-height: 35px;
      cursor: pointer;

      &:hover, &__active {
        background-color: $color-gallery;
      }

      &__reset {
        opacity: .3;
      }
    }
  }
}
