.walkthrough {
  .modal {
    &-content {
      background: $color-gallery;
      color: $color-piction-blue;
      padding-bottom: 40px;
      border: 2px solid $color-fun-blue;

      @media screen and (min-width: $screen-sm-max ) {
        h1 { letter-spacing: .2em; }
      }

      @media screen and (max-width: $screen-xs-max) {
        h1 { font-size: 2em; }
        h4 { font-size: .8em; }
      }
    }
    &-header {
      background-color: transparent;
      border-bottom: 0;
      .close{
        opacity: 1;
        span{
          background: url('../img/walk-through/close.png');
          background-size: cover;
        }
      }
    }
    &-footer {
      background-color: transparent;
      border-top: 0;

      .btn {
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 1.5em;
        text-transform: uppercase;
        box-shadow: 3px 3px 12px 0px #496379;

        &-primary {
          border: 1px solid $color-fun-blue;
        }

        &-aux {
          border: 1px solid $color-emperor;
          color: $color-white;

          @media screen and (max-width: $screen-sm-min) {
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  img {
    max-width: 100%;
  }

}
